li{
	display:inline ;
	margin-left: 1250px;



}

li a{
	background-color: #C9C0BB;
 

}

section{
	background-color: red;
	width: 600px ;
	height: 400px;
	margin: 10px;
}

.f1{
   height: 400px;
   width: 300px;
}

.f2{
	height: 400px;
	width: 300px;
}

.f3{
	height: 400px;
	width: 300px;
}

h1{

margin-left: ;
    text-align: right;

}

h1{
	margin-bottom: 150px;
}

